
bin/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.deps.json
bin/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.dll
bin/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.exe
bin/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.pdb
bin/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.runtimeconfig.json
ConsoleClassWorkFourteenth.csproj
obj/ConsoleClassWorkFourteenth.csproj.nuget.dgspec.json
obj/ConsoleClassWorkFourteenth.csproj.nuget.g.props
obj/ConsoleClassWorkFourteenth.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.assets.cache
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.dll
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.exe
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/ConsoleClassWorkFourteenth.pdb
obj/project.assets.json
obj/project.nuget.cache
